@page "/Error"
@using System.Diagnostics
@inject Microsoft.Extensions.Localization.IStringLocalizer<OC.LUAC.UiLayer.Components.Pages.Error> L
<PageTitle>@L["Title"]</PageTitle>

<h1 class="text-danger">@L["ErrorHeader"]</h1>
<h2 class="text-danger">@L["ErrorMessage"]</h2>
@if (ShowRequestId)
{
    <p>
        <strong>@L["RequestIdLabel"]</strong> <code>@RequestId</code>
    </p>
}
<h3>@L["DevelopmentMode"]</h3>
<p>
    @L["DevSwapInfo"]
</p>
<p>
    <strong>@L["DevWarning1"]</strong>
    @L["DevWarning2"]
</p>

@code {
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }
    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);
    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
